<html lang ="en">
<div class="fixed-bg">
<link rel="stylesheet" href="css/coin_style.css">
<meta charset="utf-8">
<header>

	<title>Pairings</title>
	<meta name="descriptions" content="pairings">
	<meta name="author" content="Minedminds">
	<h1><i><b>Pairings</b></i></h1>